$page-background-color: #E4E4E4;
$active-burger-menu-button-color: #b0b0b0;
$font-color: #444444;
$logo-background-color: #FC4887;
$blue-button-border-color: #1691C3;
$blue-button-border-color-hover: #136c8f;

